certifi
charset-normalizer
chromedriver-autoinstaller
click
colorama
cycler
easyocr
et-xmlfile
flask
idna
itsdangerous
jdcal
Jinja2
kiwisolver
gunicorn
MarkupSafe
matplotlib
numpy
openpyxl
opencv-python-headless
pandas
Pillow
pycryptodome
pymongo
python-dateutil
pytz
requests
selenium
six
threadpoolctl
tifffile
tensorflow
urllib3
Werkzeug
beautifulsoup4
flask
jsonify
requests
click==8.0.1
os